.App {
  display: flex;
  flex-direction: row;
  align-items: center;
}

body {
  background-color: rgb(133,20,75);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255,133,28);
}

.container {
  margin: 0 auto;
  min-width: 100%;
}

form, label {
  margin: 0 auto;
  padding: 5px;
}
